.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    cursor: pointer;
    }
  
    .border{
        border-width:2px;
  border-style:solid;
  border-color:blue;
  /* width:30%; */
  margin-bottom: 500px;
  color:blue;
    }
    img {
        width: 100px;
        height: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* width: 50%;
        height:50%; */
       
    }    